{% block header %}
    <meta charset="utf-8" lang="pl"/>
    <tittle>Elearning - twoja platforma szkoły</tittle>
    {% block stylesheet %}
        <style rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" ></style>
    {% endblock %}
{% endblock %}
<body>
<div class="container col-md-12">
    {% block container %}

    {% endblock %}
</div>
</body>
{% block footer %}
    {% block script %}
    {% endblock %}
{% endblock %}