{% extends "base.html.twig" %}
{% block stylesheet %}
{% endblock %}
{% block container %}
<h1>Aktualnie zalogowano jako: {{ app.security.getToken().getUser().getUsername() }} </h1>
</br>
<a href="{{ url('logout') }}">Wyloguj się</a></br>
<a href="{{ url('change_password') }}">Zmień hasło</a></br>
<a href="{{ url('remind_password') }}">Przypomnij hasło</a></br>
<a href="{{ url('configuration_step_1') }}">Dodaj nowych nauczycieli</a></br>
<a href="{{ url('configuration_step_2') }}">Dodaj nowe klasy</a></br>
{% endblock %}