<meta http-equiv="refresh" content="7;{{ url('login') }}" />
<h1>Hasło zostało zmienione. Za chwilę nastąpi przekierowanie na strunę logowania.</h1>
<p>Jeśli nie chcesz czekać, kliknij w ten <a href="{{ url('login') }}">link</a></p>