{% block success_registration_message %}
    Na adres {{ mail }} została wysłana wiadomość z linkiem aktywacyjnym. Użytkownik będzie mógł zalogować się do systemu po wcześniejszej aktywacji konta.
{% endblock %}
