<h1>Zmiana hasła dla użytkownika {{ data.username }} w serwisie elektronicznej szkoły:</h1>

<p>Aby zmienić hasło proszę kliknąć w podany link i postępować zgodnie z wskazówkami:
    {{ url('new_password', {'link' : data.hashLink}) }}</p>
