<h1>Na podany adres email zostało zarejestrowane konto w serwisie elektronicznej szkoły.</h1>

<p>Aby aktywować konto proszę kliknąć w ten link: {{ url('user_activation', {'link' : data.hashLink}) }}</p>

Login do konta: {{ data.username }}