<h1>Dzień dobry</h1>
<p>
    Doszły nas słuchy, że dla konta {{ data.username }} zapomniano hasła.
    Jeśli to nie Ty prosiłaś/prosiłeś o przypomnienie hasła zignoruj tę wiadomość.
</br>
    W przeciwnym wypadku kliknij w poniższy odnośnik, który przekieruje Cię
    do strony, na której zmienisz swoje hasło na nowe.

    Uprzejmie informujemy jednocześnie, że link wygaśnie w ciągu 14 dni.

    {{ url('new_password', {'link' : data.mailHash} ) }}
</p>