{{ form_errors(form) }}
{{ form_start(form) }}
{{ form_label(form.divisions) }}
<ul id="fields-list"
    data-prototype='
    {{ form_widget(form.divisions.vars.prototype)|e }}
    '>
    <button type="button" id="add-another-input">Dodaj pole</button>
    {% for divisionField in form.divisions %}
        <li>
            {{ form_errors(divisionField) }}
            {{ form_widget(divisionField) }}
        </li>
    {% endfor %}
</ul>
{{ form_end(form) }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ asset('assets/js/add-input.js') }}"></script>


