{{ form_errors(form) }}
{{ form_start(form) }}
<ul id="fields-list" data-prototype='
    {{ form_widget(form.nameSurnameCollection.vars.prototype)|e }}
    {{ form_widget(form.emailCollection.vars.prototype|e) }}
    {{ form_widget(form.dateOfBirthCollection.vars.prototype|e) }}</div>'>
    <button id="add-another-input">Dodaj pole</button>
</ul>
{{ form_end(form) }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ asset('assets/js/add-input.js') }}"></script>
<script>

</script>